@charset "UTF-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{color:#545454;font-family:arial,sans-serif;font-size: .625em}h1{font-size:2.8em;color:#645a56;line-height:1.1em;margin-top:35px;text-transform:uppercase}h2{color:#f6282f;line-height:1.2em;font-size:2em}h2
a{color:#f6282f}.box h2,
#login
h2{color:#635a55;text-transform:uppercase;font-size:1.8em}h2
.break{font-size: .75em}h3{font-size:1.3em}hr{border:0;height:1px;line-height:1px;margin:30px
0 20px;background-color:#e0d7d4}acronym{border-bottom:1px dotted #545454;cursor:help}a{text-decoration:none}a:focus,a:hover{text-decoration:underline}a.more{text-decoration:underline;display:inline-block;margin-top:3px;font-size:1.2em;color:#ed332c}a.more:focus,a.more:hover{color:#222}a.expand{position:relative}a.expand:focus,a.expand:hover{border-color:#97897f}.zoom{top:0;display:none;right:0;width:10px;height:10px;background:#97897f url('/fileadmin/templates/skins/aegps/css/img/sprites.png') -106px 1px no-repeat;position:absolute}a.expand:focus .zoom,
a.expand:hover
.zoom{display:block}form{position:relative}.error{color:#f73c3e}form
p.error{font-size:1.4em;position:absolute}.box form
p{position:relative;margin:10px
0}.js
label.placeholder{color:#A9A9A9;position:absolute}label.radio{cursor:pointer;display:inline-block;line-height:14px;padding-left:18px;background:transparent url(/fileadmin/templates/skins/aegps/css/img/sprites.png) left -274px no-repeat}label.radio.checked{background-position:left -298px}label.checkbox{cursor:pointer;display:inline-block;line-height:14px;padding-right:20px;background:transparent url(/fileadmin/templates/skins/aegps/css/img/sprites.png) right -322px no-repeat}label.checkbox.checked{background-position:right -346px}input,select,textarea{font-family:arial,sans-serif}input[type='text'],input[type='password']{vertical-align:middle;font-size:1.4em;color:#545454;height:28px;padding:0
8px;border:1px
solid #c2b9b6}#content-right input[type='text'],
#content-right input[type='password']{height:24px;font-size:1.2em}input[type='text'].error,input[type='password'].error{border-color:#ef342d}input[type='radio'],input[type='checkbox']{vertical-align:middle}select{font-size:1.4em;color:#545454;border:1px
solid #c2b9b6}.js
select{display:none}.js
ul.select{display:none}textarea{resize:none;font-size:1.4em;color:#545454;padding:6px
8px;border:1px
solid #c2b9b6}.button{background-color:#f52b31;height:30px;line-height:30px;padding:0
10px;display:inline-block;cursor:pointer;text-transform:uppercase;border:0;font-weight:bold;color:white;font-size:1.6em}.button:focus,
.button:hover,
.box-content .button:focus,
.box-content .button:hover{text-decoration:none;color:#222}input.button{padding:0
8px}.button.search{background:#f62c31 url('/fileadmin/templates/skins/aegps/css/img/sprites.png') 9px -63px no-repeat;padding-left:28px}#content-right
.button{font-size:1.4em;height:26px;line-height:26px}.selectbox{cursor:pointer;position:relative;display:inline-block;line-height:24px;padding-right:28px;background:white url('/fileadmin/templates/skins/aegps/css/img/sprites.png') right -61px no-repeat;border:1px
solid #c2b9b6;font-size:1.2em}#contact
.selectbox{background-position:right -59px}.selectbox
span{border-right:1px solid #c2b9b6;padding-left:8px;display:block}.selectbox
ul{position:absolute;width:100%;left:-1px;z-index:1;background-color:white;border:1px
solid #c2b9b6;display:none}.selectbox
a{text-decoration:none;color:#545454;display:block;padding:0
8px}.selectbox a:focus,
.selectbox a:hover{color:white;background-color:#545454}.completion{font-size:1.4em;color:#222;background-color:white;z-index:40;display:none;border-width:0 1px 1px;border-style:solid;border-color:#97897f;position:absolute}.completion
li{line-height:25px;padding:0
10px}.completion li:focus,
.completion li:hover{color:white;background-color:#97887f}#header{width:972px;margin:0
auto}#logo{font-size:2.8em;text-transform:uppercase;font-family:arial,sans-serif;display:block;margin-top:10px}#quick-access{display:none}#menu{display:none}#content{width:972px;margin:0
auto}#breadcrumb{padding:7px
0;border-bottom:none;font-size:1.1em}.ir-page #breadcrumb,
.cat-page #breadcrumb,
.subc-page #breadcrumb,
.product-page #breadcrumb,
.cb-page #breadcrumb,
.contact-page
#breadcrumb{border-bottom:0}#breadcrumb
li{padding-left:15px;margin-left:10px;line-height:14px;background:white url('/fileadmin/templates/skins/aegps/css/img/sprites.png') left -95px no-repeat;display:inline-block}#breadcrumb li:first-child{background:none;margin-left:0;padding-left:0}#breadcrumb
li.last{font-weight:bold}#breadcrumb
a{color:#545454}.ir-page #content-head{border-color:#97897f;border-width:1px 0 4px;border-style:solid}#content-head:after{content:'';display:block;clear:both}#content-head-inside{border:none;height:100%;padding-right:8px;width:70%;float:left}#content-head-inside
.button{height:26px;line-height:26px;padding:0
7px;font-size:1.4em;margin-top:25px}.contact-page #content-head-inside{height:220px;width:660px}.ir-page #content-head-inside{width:660px;border:0}#content-head-text{margin-top:10px;font-size:1.6em;line-height:1.4em}#content-head-picture{border:1px
solid #e0d7d4;float:right}.contact #content-head-picture{border:1px
solid #dfd7d4}#content-body:after{content:'';display:block;clear:left}#content-center{float:left;width:636px}#content-center-head{margin-top:10px;padding-bottom:18px;border-bottom:4px solid #97897f;line-height:1.4em;font-size:1.6em}#content-center-body{font-size:1.4em;padding-bottom:30px;line-height:1.4em;color:#606060;border-bottom:1px solid #97887f}#content-center-body
h2{font-size:1.428em}.rte-content
h2{margin:20px
10px 15px}.rte-content
p{margin:10px
0}#content-body .rte-content
p{margin:20px
10px}.rte-content
img{border:1px
solid #e0d7d4}.rte-content
strong{font-weight:bold}img.left-align{margin:0
20px 10px 10px;float:left}.highlight{font-style:italic;color:#96897e;margin:20px
10px;padding:0
5px;border:3px
solid #e0d7d4}.news{margin-top:25px;border-top:1px solid #dfd6d4}.news.first{margin-top:0;border-top:0}.news
h2{margin:15px
10px 12px}.news-content:after{content:'';display:block;clear:left}.news-subtitle{margin:0
10px;font-weight:bold;color:#222}.news-picture{border:1px
solid #e0d7d4;margin:0
15px 20px 10px;float:left}.news-text{margin:5px
10px 0}#result-total{margin-top:10px;font-size:1.6em;color:black}#result-total
strong{font-weight:bold}#result-total
em{font-style:italic;color:#f6282f}.result-nav{margin-top:20px;border-color:black;border-style:solid;border-width:1px 0}.result-nav:after{content:'';display:block;clear:both}.result{border-top:1px solid #e0d7d5;padding:20px
10px 10px}.result.first{border-top:0}.result
h2{font-weight:bold;font-size:1.4em;text-transform:uppercase;color:#222}.result-body{line-height:1.3em;font-size:1.2em}.result-link{display:block;text-decoration:underline;margin-top:15px;font-size:1.2em;color:#545454}.result-link:focus,.result-link:hover{color:#f6282f}.paging{margin-top:10px;font-size:1.1em;float:right}.search-page
.paging{margin:5px
0}.paging
li{color:#606060;line-height:18px;display:inline-block;margin-left:2px}.paging li:first-child
a{background:white url('/fileadmin/templates/skins/aegps/css/img/paging.png') left -1px no-repeat;padding-left:15px}.paging li:first-child a:focus,
.paging li:first-child a:hover{background-position:left -37px}.paging li.last
a{background:white url('/fileadmin/templates/skins/aegps/css/img/paging.png') right -55px no-repeat;padding:0
15px 0 6px}.paging li.last a:focus,
.paging li.last a:hover{background-position:right -91px}.paging
li.disable{background:white url('/fileadmin/templates/skins/aegps/css/img/paging.png') right -40px no-repeat;border:1px
solid #c0b9b9;color:#a9a9a9}.paging li.disable:first-child{padding:0
6px 0 15px;background-position:left -19px}.paging
li.disable.last{padding:0
15px 0 6px;background-position:right -73px}.paging
a{padding:0
6px;display:inline-block;text-decoration:none;line-height:18px;color:#606060;border:1px
solid #c0b9b9}.paging li.active a,
.paging a:focus,
.paging a:hover{color:#f6282f;border-color:#f6282f}.filter{background-color:#f2f2f2;float:left;font-size:1.2em}.filter:after{content:'';display:block;clear:left}.filter
li{padding:0
7px;float:left}.filter
li.active{margin-bottom:-6px;padding-bottom:6px;background:transparent url('/fileadmin/templates/skins/aegps/css/img/filter.png') bottom center no-repeat}.filter
a{background-color:#f2f2f2;float:left;padding:0
5px;line-height:30px;color:#222}.filter li.active
a{border-bottom:1px solid #f6282f;margin-bottom:-1px}.filter li.active a,
.filter a:focus,
.filter a:hover{color:#ff0013}#year-filter{margin-top:35px;float:right}#year-filter
strong{color:#222;font-size:1.4em;font-weight:bold}#year-filter
.select{width:70px}#content-right{margin-left:36px;float:left}#content-right
.box{float:none;margin-left:0}#board-wrapper{display:none}#slide-menu{margin-top:8px;background-color:#f62c31}#slide-menu-top{font-weight:bold;background-color:black}.js #slide-menu-top{cursor:pointer}#slide-menu-cross{display:inline-block;vertical-align:top;background-color:#f62c31;width:44px;height:44px}#slide-menu-cross-picture{display:block;margin:15px
0 0 15px;width:13px;height:13px;background:#f62c31 url('/fileadmin/templates/skins/aegps/css/img/ps_menu_cross.png') -1px 0px no-repeat}#slide-menu-top
h2{font-size:1.8em;vertical-align:top;display:inline-block;margin-left:10px;padding-left:12px;line-height:44px;color:white;text-transform:uppercase;background:black url(/fileadmin/templates/skins/aegps/css/img/sprites.png) left -210px no-repeat}.slide-menu-block:after{content:'';display:block;clear:left}#slide-menu-content{display:none;padding:20px
15px;width:942px;color:white}#slide-menu-content:after{content:'';display:block;clear:left}.slide-menu-block{float:left;margin-left:2%;width:32%}.slide-menu-block.first{margin:0}#slide-menu
h3{text-transform:uppercase;padding-bottom:10px;border-bottom:1px solid white}#slide-menu
a{color:white}.slide-menu-list{margin-top:10px}.slide-menu-list:after{content:'';display:block;clear:left}.slide-menu-list
ul{float:left;border-left:1px solid white;width:45%;margin-left:4%;padding-left:4%;font-size:1.2em}.slide-menu-list
ul.first{border:0;padding-left:0;margin-left:0}.slide-menu-list
li{margin-top:8px}.slide-menu-list li:first-child{margin-top:0}#tabs{margin-top:20px}.js
#tabs{border-bottom:1px solid #97897f}.js.product-page
#tabs{border-bottom:0}#tabs-control{display:none}#tabs-content{height:auto !important;position:relative}.tab{display:block !important;position:relative !important}.tab.product-list{width:972px;padding:0
0 20px}.tab-half{margin-left:22px;width:450px;float:left}.tab-half.first{margin-left:0}#tabs
h2{position:relative}#tabs h2.box-title{font-size:1.8em;color:#f6282f}.cb-page #tabs
h3{font-size:2em;color:#f6282f}#tabs .product-list h3.box-content-title{color:#606060;font-size:1.4em}.tab-picture-title{text-transform:uppercase;border-bottom:1px solid #e0d7d5;padding-bottom:5px;margin-bottom:30px;font-size:1.8em}.tab-picture{margin-left:20px;float:right}.tab-content{margin-top:5px;line-height:1.1em;font-size:1.1em}.tab-content
strong{position:relative;font-weight:bold}.tab-content
li{margin-top:5px}#tabs
.button{margin-top:10px}.side-menu{position:relative;font-size:1.2em;float:left}.tab .side-menu{position:relative;left:0;display:none}.side-menu
li.odd{background-color:#f2f2f2}.side-menu
li.active{background-color:#e0d7d5}.js .side-menu
li.active{background-color:inherit}.js .side-menu
li.odd.active{background-color:#f2f2f2}.side-menu
.current{position:absolute;left:0;top:0;width:211px;height:40px;z-index:1;background:transparent url(/fileadmin/templates/skins/aegps/css/img/sprites.png) left bottom no-repeat}.side-menu
a{display:block;position:relative;z-index:2;width:184px;line-height:40px;height:40px;padding-left:6px;color:black}.side-menu li.active
a{font-weight:bold}.side-blocks{position:relative;width:75%;height:auto !important;margin-left:0 !important;font-size:1em}.side-block{position:relative !important;display:block !important;margin-bottom:20px}.side-block-content{position:relative;line-height:1.4em;font-size:1.4em}#app-menu{margin-top:45px}.cb-page #app-menu{border-bottom:4px solid #96897E;padding-bottom:8px;margin-top:6px}#app-menu
h2{text-transform:uppercase;color:#f6282f}#app-menu-list{position:relative;margin-top:8px}#app-menu-list:after{content:'';display:block;clear:left}.app-menu-item{z-index:20;border-color:#e0d6d4;border-width:0 1px 0 0;border-style:solid;padding:0
10px;width:100px;text-align:center;background-color:white;float:left}.cb-page .app-menu-item{padding:0
6px;width:68px}.app-menu-item:first-child{border-width:0 1px}.app-menu-item:hover{padding-top:10px;height:auto;border-width:1px;border-color:#96897e}.app-menu-item
img{border:4px
solid #a19589;margin-top:10px}.app-menu-item:hover
img{border-color:#f62c31}.app-menu-title{font-size:1.3em;display:block;text-transform:none}.cb-page .app-menu-title{font-size:1.1em}li:hover .app-menu-title{color:#ed332c}.app-menu-list{display:none;margin-top:20px;font-size:1.2em}.cb-page .app-menu-list{font-size:1.1em;margin-top:10px}#app-menu-list li:hover .app-menu-list{display:block}#app-menu-list .app-menu-list
li{text-align:left;width:auto;height:auto;background:none;padding:0;float:none;border-style:solid;border-color:#c1b9b6;border-width:1px 0 0}.app-menu-list
a{display:block;padding:10px
0 8px;color:#222}.box-block:after{content:'';display:block;clear:left}.box{float:left;border-bottom:1px solid #dfd7d4;margin:45px
0 0 36px;width:300px}.box.first{margin-left:0}.box-title{padding-bottom:5px;border-bottom:1px solid #dfd7d4}.box.contact .box-title{color:#f62c31}.box-title
h2{vertical-align:middle;display:inline}.box-title-link{font-size:1.4em;vertical-align:middle;margin-left:8px;padding-left:8px;border-left:1px solid black}.box-title-link
a{vertical-align:text-bottom;color:#545454}.box-content{padding:12px
0}.box-content:after{content:'';display:block;clear:left}.box-content
strong{color:#222;font-weight:bold}.box-content-item{margin-top:20px}.box-content-item:first-child{margin-top:0}.box-content-item:after{content:'';display:block;clear:left}.box-picture{border:1px
solid #dfd7d4;display:block;float:left}.box-picture
img{display:block}.box-text{margin-left:100px}.box-content-title{line-height:1.2em;color:#222;font-weight:bold;font-size:1.4em}.box-content-title
a{color:#222}.box-content-subtitle{color:#222;margin-bottom:3px;font-size:1.2em}.box-content-subtitle
a{color:#222}.box-body{margin-top:3px;line-height:1.3em;font-size:1.2em}#content-right .box-body{margin-top:0}.box-body
a{color:#545454}.box-body
em{font-size:1.166em;color:#f6282f}.box-body
li{margin-top:5px}.box.contact .box-body{line-height:1.5em;margin-bottom:10px}#news .box-content-title{margin-left:158px}#events.box{height:170px}.partner.box{border:0;height:114px}.home-page
.partner.box{margin-top:16px}.partner .box-title{height:22px;border:0}.partner .box-content{height:70px;padding:6px
7px 5px;border:3px
solid #dfd7d4}.partner .box-body{margin-bottom:5px}.partner
a.more{margin-top:10px;float:right}.contact-search-form .box-content{padding:12px
10px}.contact-search-form
label{display:block;font-size:1.2em}.js .contact-search-form
label{display:none}.contact-search-form
label.placeholder{left:10px}.js .contact-search-form
label.placeholder{display:block}.contact-search-form
select{width:100%}.contact-search-form
.selectbox{font-size:1.2em}#contact-search-zipcode{width:160px}.contact-search-form
.button{float:right}.share-box{margin-top:0}#news-sub-box .box-content{padding:12px
10px}#news-sub
label{font-size:1.2em}#news-sub-email{width:140px}#news-sub
.button{font-size:1.4em;float:right}.tool-box{display:none}#content-head-right.box{border-bottom:0;margin-left:0}#product-tools{display:none}#footnote{color:#96897e;padding-top:12px;line-height:1.5em;font-size:1.1em}.contact-page
#footnote{color:#a9a9a9;line-height:1.2em;margin-top:30px;border-top:1px solid #978980}#footnote
strong{color:#545454}.home-page
.box{height:300px}.product-list{padding-bottom:30px;border-bottom:1px solid #97897f}.tab.product-list{border-bottom:0}.product-list
.box{border-width:0 0 4px}.product-list .box-text{margin-left:160px}.product-list
h2{color:#f6282f}.product-list
h3{font-size:1.2em}.product-page .tab.product-list
h2{margin-top:20px}.product-page .tab.product-list
.box{border-bottom:0;margin-top:20px;padding-bottom:10px}.product-page .tab.product-list .box-text{color:#606060;margin-left:100px}.news-list
h1{padding-bottom:4px;border-bottom:4px solid #978980}#contact
p{padding:10px
0;line-height:3em}#contact
p.even{background-color:#f2f2f2}#contact
.selectbox{vertical-align:middle;font-size:1.4em;line-height:28px}#contact .selectbox
span{background-position:right -158px}#contact label,
#contact
span.text{vertical-align:middle;font-size:1.4em}#contact span.text,
#contact label.text,
#contact
label.select{display:inline-block;text-align:right;margin-right:7px;width:160px}#contact span em,
#contact label
em{color:#f62c31}#contact
label.radio{margin-right:30px}#contact
select{width:418px}#contact input[type='text'],
#contact
textarea{width:400px}#contact
textarea{height:150px}#contact-message-entry
label{vertical-align:top}p#contact-dpp-entry{background-color:inherit;padding-right:50px;text-align:right}p#contact-dpp-entry
a{text-decoration:underline;color:#545454}p#contact-dpp-entry a:focus,
p#contact-dpp-entry a:hover{color:#ED332C}p#contact-submit-entry{padding:0
50px 0 167px}#contact-submit-entry
span{font-size:1.2em}#contact input[type='submit']{float:right}#content.message{width:802px;background:white url('/fileadmin/templates/skins/aegps/css/img/message_bg.gif') center bottom repeat-x;padding:125px
85px 335px}.error-page
#content.message{padding:60px
85px 200px}#content.message
p{line-height:1.3em;color:#645a56;font-size:2.4em}#content.message
strong{text-transform:uppercase;color:black;font-size:2em}#content.message
.button{margin-top:30px}#content.message
.error{margin-bottom:50px;color:#f73c3e;font-size:3.5em}#content.message .error-option{margin-top:30px;font-size:2em}#content.message .error-option
a{color:#f62c31}.search-form{background-color:black;color:white;padding:4px
4px 4px 8px}.search-form
div{position:relative}.search-form
label{color:#a9a9a9}.search-form input[type="text"]{color:#a9a9a9;vertical-align:top;border:0}.search-form input[type="submit"]{text-indent:-9999px;padding:0;border:0;background-color:white;background-image:url('/fileadmin/templates/skins/aegps/css/img/sprites.png');background-position:-24px top;background-repeat:no-repeat;position:absolute}#search{display:none}#search-body{margin-top:20px;height:32px;line-height:32px}#search-body
span{width:135px;display:inline-block;text-align:center;font-weight:bold;font-size:1.4em}#search-body
label{font-size:1.4em}#search-body-field{padding:4px
36px 4px 10px;width:440px;height:24px}#search-body input[type="submit"]{width:17px;height:17px;bottom:9px;right:10px}#login{width:240px;border:3px
solid #dfd7d4;padding:19px
17px}#content
#login{margin:40px
auto 0}#login
h2{margin-bottom:25px}#login
p{margin:10px
0}#login
p.error{left:17px;top:35px}#login
label{display:block;font-size:1.4em}#login input[type="text"],
#login input[type="password"]{margin-top:5px;width:222px}#login
a.more{margin-top:10px}#login input[type="submit"]{float:right}#footer{display:none}.tools-email{padding-left:20px;background:white url('/fileadmin/templates/skins/aegps/css/img/sprites.png') left -194px no-repeat}.tools-rss{padding-left:15px;background:white url('/fileadmin/templates/skins/aegps/css/img/sprites.png') left -27px no-repeat}.share-box{font-size:1.2em}.share-box
span{vertical-align:middle}.share-box
img{vertical-align:middle}body{width:100%}#pageWrap{width:100%}#c6740{width:100%}.black-rulerAfter,.csc-default{width:100% !important;display:block !important;position:relative !important;top:none !important;padding:0
!important}.tx-jppageteaser-pi1{width:100% !important;margin:0
!important}.oneThird{display:block !important;float:left !important}form{display:none}.tab-content{width:100% !important;padding:0
!important}.image-list{margin-left:0 !important;margin-top:0 !important;width:100% !important}p.align-left{display:none !important}
