.screenshot {
    display: inline;
}
ul.bjqs {
    display: none;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
li.bjqs-slide {
    display: none;
    position: absolute;
}
ul.bjqs-controls {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}
li.bjqs-slide{
    text-align: center;
}
ul.bjqs-controls.v-centered li a {
    position: absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a {
    right: 0;
}
ul.bjqs-controls.v-centered li.bjqs-prev a {
    left: 0;
}
ol.bjqs-markers {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
ol.bjqs-markers.h-centered {
    text-align: center;
}
ol.bjqs-markers li {
    display: inline;
}
ol.bjqs-markers li a {
    display: inline-block;
}
p.bjqs-caption {
    bottom: 0;
    display: block;
    margin: 0;
    padding: 2%;
    position: absolute;
    width: 96%;
}
pre {
    background-color: whiteSmoke;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0px;
    padding: 0px 9px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
ul.bjqs-controls.v-centered li a {
    background: none repeat scroll 0 0 #06afe4;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}
ul.bjqs-controls.v-centered li a:hover {
    background: none repeat scroll 0 0 #000;
    color: #fff;
}
ol.bjqs-markers li a {
    background: none repeat scroll 0 0 #06afe4;
    color: #fff;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
}
ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover {
    background: none repeat scroll 0 0 #161615;
}
p.bjqs-caption {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}
