.courseArea > * {
    display: inline-block;
    vertical-align: top;
}

#cartouche ul {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}

#cartouche ul li, .bouton-seul {
    line-height: 30px;
    font-size: 14px;
    display: block;
}

#courseDocZero h3.list-title {
    margin-bottom: 0;
}

#cartouche ul li, #cartouche-cours li, .bouton-seul, #cartouche .nav li {
    background-image: none;
    background-color: #133D67;
    border: medium none;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
}

#cartouche ul li a, #cartouche-cours li a, .bouton-seul a {
    color: #EDF9FF;
    width: 100%;
    display: block;
    margin: auto;
    padding: 3px 0px;
    border-bottom: 1px solid #EDF9FF;
    text-decoration: none;
}

#cartouche .nav li {
   color: #FFF;
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
   text-align: center;
   font-size: 14px;
}

#latest ul.courseContent {
    /*height: calc(70px * 5); */
    overflow: hidden;
}

ul.courseContent > li {
    position: relative;

    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 49px;
}

ul.courseContent > li a {
    padding: 0px;
    border-radius: 0px;
    text-decoration: none;
    margin-top: 0px;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    display: inline-block;
    background-color: transparent;
}

ul.courseContent > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    -webkit-flex-basis: 100px;

    flex-basis: 100px;

    text-align: center;
}

ul.courseContent > li > div {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex: 1 1 0%;

    display: flex;
    flex-direction: column;
    flex: 1 1 0%;

    min-width: 70%;
    margin-right: 10px;
}

ul.courseContent > li h4 > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

ul.courseContent > li > div > div {
    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;
}

ul.courseContent > li > div > div > .tags {
    -webkit-align-items: center;
    -webkit-flex: 1 1 0%;
    display: -webkit-flex;

    align-items: center;
    flex: 1 1 0%;
    display: flex;

    margin-left: 5px;
    min-width: 0;
}

.macaron {
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
    overflow: hidden;
    display: block;
    margin: auto;
    padding-left: 25px;
    box-sizing: border-box;
}

.macaron object {
    height: 128%;
    display: block;
    margin: 0px auto;

    -webkit-transform: translate(-50%, -14%);

    transform: translate(-50%, -14%);
}

.macaron object img {
    transform: translate(-25%, 10px);
    height: 78.125%;
}

ul.courseContent > li .tags > a {
    background: rgb(149, 165, 166);
    color: white;
    padding: 3px 7px;
    border-radius: 4px;
    margin: 0px 3px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-flex-shrink: 1;

    flex-shrink: 1;

    min-width: 20px;
}

ul.courseContent:not(.list-wide) > li > a:first-child {
    margin-top: 5px;
}

.courseSpeakers ul {
    text-align: center;
}

#cloud a text {
    transition: text-shadow .3s;
}

#cloud a:hover text {
    text-shadow: 0px 0px 0.2em rgba(0, 0, 0, 0.2);
}

#tags .course-pos-right .courseContent {
    max-height: 480px;
    overflow: auto;
}

#latest {
    position: relative;
    margin-bottom: 32px;
}

.pagination {
    position: absolute;
    bottom: -32px;
    left: 50%;

    -webkit-transform: translateX(-50%);

    transform: translateX(-50%);
}

.pagination > * {
    display: inline-block;
    padding: 4px 7px;
    color: #EDF9FF;

    margin: 0;
    border: none;
    float: left;

    background-color: #133D67;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

.pagination > *:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination > *:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.courseArea .courseSpeakers ul li {
    width: 31%;
    float: none;
    display: inline-block;
}

#courseDocZero .courseArea p {
    padding-right: 15px;
}

#header {
    text-align: center;
}

#header > div {
    text-align: left;
}

#top-authors a {
    text-decoration: inherit;
    color: inherit;
}

#tags .course a, #tags .course {
	display:block;
	padding:15px;
	text-decoration:none;
	color:#7f8c8d;
	border:2px solid rgba(0,0,0,.1);
	border-radius:3px;
}

#tags .course {
	color:rgba(255,255,255,.9);
	font-weight:bold;
	padding:0;
	padding-top:15px;
    text-align: center;

    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
    width: 25%;
}

#tags .course a {
	width: 100%;
	padding:0;
	border-radius:0;
	border:0;
	background-color:rgba(255,255,255,.2);
	color:white;
	float:left;
	border-top-width:2px;
	-webkit-box-shadow:inset 1px 2px 0 0 rgba(255,255,255,.2);
	box-shadow:inset 1px 2px 0 0 rgba(255,255,255,.2);

    padding: 10px 5px;
    box-sizing: border-box;
}

#tags .course a:nth-child(1), #tags .course a:nth-child(2) {
	margin-top:15px;
}

#tags .course a:hover {
	background-color:rgba(255,255,255,.4);
}

#tags .course a:first-child {
	-webkit-box-shadow:inset -1px 2px 0 0 rgba(255,255,255,.2);
	box-shadow:inset -1px 2px 0 0 rgba(255,255,255,.2);
}

.color1, ul.courseContent > li > div > div > .tags > a.color1 {
    background-color: #1ABC9C;
}

.color2, ul.courseContent > li > div > div > .tags > a.color2 {
    background-color: #E67E22;
}

.color3, ul.courseContent > li > div > div > .tags > a.color3 {
    background-color: #3498DB;
}

.color4, ul.courseContent > li > div > div > .tags > a.color4 {
    background-color: #9B59B6;
}

.color5, ul.courseContent > li > div > div > .tags > a.color5 {
    background-color: #E74C3C;
}

.category {
    display: block;
    margin-bottom: 80px;
}

.category > * {
    display: inline-block;
    vertical-align: top;
}

.category > ul {
    width: 74%;
}

.even {
    float: right;
}

.odd+ul {
    margin-left: 3px;
}

@keyframes fadeIn {
    from, 50% {
        opacity: 0;
        height: 0;
        padding: 0;
        border-width: 0;
    }
    51% {
        height: 49px;
        padding: 10px 15px;
        border-width: 1px;
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.grow.ng-enter {
    animation: fadeIn 1s ease;
    position: relative;
    overflow: hidden;
}

.grow.ng-leave {
    animation: fadeOut 500ms ease;
    position: relative;
    overflow: hidden;
}

.active {
    background-color: #0069D5;
}

.pagination [disabled] {
    background-color: #A1AFBD;
}

#author-infos {
    border-radius: 4px;
    background: #ECF0F1;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
}

#author-infos h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 0;
    margin-left: 80px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#author-infos .macaron {
    margin-top: -35px;
    float: left;
    margin-right: 15px;
    height: 80px;
    width: 80px;
    padding-left: 40px;
}

pre, code {
    font-size: 12pt;
    font-family: 'Droid Sans Mono', 'Courier', monospace;
}

code.hljs {
    display: inline;
    padding: 2px;
    font-size: 1em;
    border-radius 3px;
}

li.listitem {
    font-size: 1.2em;
}

.mediaobject img {
	max-width: 962px;
}

.mediaobject { text-align: center; padding: 20px 0;}

#courseDocZero h3.title {
    margin-top: 35px;
}

.title em, ul.nav em {
    font-style: normal;
}

#latest.loading, #latest.loading .pagination button {
    cursor: progress;
}

#header.courseArea > .course-md-6.articles_header > h2,
#header.courseArea > .course-md-6.articles_header > p {
	padding: 0 15px 10px 0px;
}

.not-published {
	text-align: right;
    padding: 5px 5px 0 0;
    font-size: 85%;
}

.mediaobject iframe {
	width: 640;
	height: 390;
	border: 0;
}
