body.cjpopup-on::-webkit-scrollbar {
  display: none;
}
.cjpopup-hidden {
  display: none !important;
}
.cjbackdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100000000;
}
.cjpopup-raw-html {
  padding: 0px;
}
.cjpopup-raw-html .content {
  padding: 0px;
}
.cjpopup {
  position: fixed;
  z-index: 1000000000000;
  overflow: auto;
}
.cjpopup::-webkit-scrollbar {
  display: none;
}
.cjpopup img {
  max-width: 100%;
}
.cjpopup .popup-content {
  position: relative;
  max-height: 50%;
}
.cjpopup .popup-content::-webkit-scrollbar {
  display: none;
}
.cjpopup .close-cjpopup {
  position: absolute;
  padding: 5px 10px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  right: 0px;
  z-index: 1000000000000000;
}
.cjpopup p {
  margin: 0 0 10px 0;
}
.cjpopup.cjpopup-top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  max-height: 50%;
}
.cjpopup.cjpopup-top-bar .popup-content {
  width: 90%;
  margin: 0 auto;
}
.cjpopup.cjpopup-bottom-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  max-height: 50%;
}
.cjpopup.cjpopup-bottom-bar .popup-content {
  width: 90%;
  margin: 0 auto;
}
.cjpopup.cjpopup-box-top-right {
  position: fixed;
  top: 0px;
  right: 20px;
  max-height: 50%;
}
.cjpopup.cjpopup-box-top-right .popup-content {
  max-height: 50%;
}
.cjpopup.cjpopup-box-top-left {
  position: fixed;
  top: 0px;
  left: 20px;
  max-height: 50%;
}
.cjpopup.cjpopup-box-top-left .popup-content {
  max-height: 50%;
}
.cjpopup.cjpopup-box-bottom-left {
  position: fixed;
  bottom: 0px;
  left: 20px;
  max-height: 50%;
}
.cjpopup.cjpopup-box-bottom-left .popup-content {
  max-height: 50%;
}
.cjpopup.cjpopup-box-bottom-right {
  position: fixed;
  bottom: 0px;
  right: 20px;
  max-height: 50%;
}
.cjpopup.cjpopup-box-bottom-right .popup-content {
  max-height: 50%;
}
.cjpopup.cjpopup-panel-right {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
}
.cjpopup.cjpopup-panel-right .popup-content {
  margin: 0 auto;
}
.cjpopup.cjpopup-panel-left {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
}
.cjpopup.cjpopup-panel-left .popup-content {
  margin: 0 auto;
}
.cjpopup.cjpopup-modal-box {
  position: fixed;
  top: 150px;
  left: 50%;
  max-height: 600px;
}
.cjpopup.cjpopup-modal-box .popup-content {
  max-height: 600px;
}
.cjpopup,
.cjbackdrop {
  -vendor-animation-duration: 500ms;
  -vendor-animation-delay: 0ms;
  -vendor-animation-iteration-count: infinite;
}
@media (max-width: 1023px) {
  .cjpopup.cjpopup-top-bar,
  .cjpopup.cjpopup-bottom-bar {
    font-size: 90%;
  }
  .cjpopup-no-phone {
    display: none;
  }
  .cjpopup.cjpopup-box-top-right {
    font-size: 90%;
    right: 0px;
    min-width: 100%;
    width: 100%;
  }
  .cjpopup.cjpopup-box-top-left {
    font-size: 90%;
    left: 0px;
    min-width: 100%;
    width: 100%;
  }
  .cjpopup.cjpopup-box-bottom-right {
    font-size: 90%;
    right: 0px;
    min-width: 100%;
    width: 100%;
  }
  .cjpopup.cjpopup-box-bottom-left {
    font-size: 90%;
    left: 0px;
    min-width: 100%;
    width: 100%;
  }
  .cjpopup.cjpopup-panel-right,
  .cjpopup.cjpopup-panel-left {
    font-size: 90%;
    left: 0px;
    min-width: 100%;
    width: 100%;
  }
  .cjpopup.cjpopup-modal-box {
    position: fixed;
    top: 20px;
    left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: auto;
    max-height: 90%;
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .cjpopup-no-tablet {
    display: none;
  }
}
