/*
 * Agar lebih mudah diupdate, bagian ini saya buat terpisah.
 * Include-kan dibawah flexslider.css
 */
 
@import url("flexslider.css");

/* flexslider default theme */
.flexslider {
	margin:0;
	padding: 0;
	background: transparent;
	border: 0;
	position: relative;
	border-radius: 0;
		-webkit-border-radius: 0;
			-moz-border-radius: 0;
				-o-border-radius: 0;
	box-shadow: none;
		-webkit-box-shadow: none;
			-moz-box-shadow: none;
				-o-box-shadow: none;
	zoom: 1;
}
.flexslider ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Caption */
.flex-caption {
	width: auto;
	margin: 0;
	position: absolute;
	left: 80px;
	bottom: 0;
	padding: 0 20px;
	height: 40px;
	background: #f56060 url(../images/icon_blockquote.png) no-repeat 20px 24px !important;
	color: #fff;
	text-shadow: none;
	font-size: 14px;
	line-height: 2.8em;
}
.slider {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}
.post .slider {
	width: 100%;
}

/* Direction Nav */
.flex-direction-nav li a {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	top: auto;
	left: 30px;
	bottom: 20px;
	cursor: pointer;
	text-indent: -9999px;
	background: red;
}
.flex-direction-nav li .next {
	background: #444 url(../images/arrow_carousel-next.png) no-repeat center center;
	left: 40px;
	bottom: 0;
}
.flex-direction-nav li .prev {
	background: #444 url(../images/arrow_carousel-prev.png) no-repeat center center;
	left: 0;
	bottom: 0;
}
.flex-direction-nav li .next:hover, .flex-direction-nav li .prev:hover {
	opacity: 1;
}
.flex-direction-nav li .disabled {
	opacity: .3;
	filter:alpha(opacity=30);
	cursor: default;
}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; left:20px; top: 20px; bottom: auto; text-align: left;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li a {width: 13px; height: 13px; background: transparent url(../images/slider/background/bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -998em; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; box-shadow: none;}
.flex-control-nav li a:hover {background: transparent url(../images/slider/background/bg_control_nav.png) no-repeat 0 -13px;}
.flex-control-paging li a.flex-active {background: transparent url(../images/slider/background/bg_control_nav.png) no-repeat 0 -26px;}