/*
 * by BiyanPasau
 * http://themeforest.net/user/biyanpasau
 * http://i-biyan.com
 */

/* Import default style
--------------------------------------------------------- */
@import url("mediaelementplayer.css");

/* Gaida Audio Skin
--------------------------------------------------------- */
.xy .mejs-container .mejs-controls {
	background: transparent;
}

/* Play-Pause */
.xy .mejs-container .mejs-controls .mejs-playpause-button {
	cursor: pointer;
	width: 30px;
	padding: 0;
	margin: 0;
}
.xy .mejs-controls .mejs-playpause-button button {
	margin:0;
	background: url(../images/mediaelement/play-pause.png) no-repeat center top;
	width: 30px;
	height: 30px;
}
.xy .mejs-controls .mejs-play button {
	background-position: left top;
}
.xy .mejs-controls .mejs-play:hover button {
	background-position: right top;
}
.xy .mejs-controls .mejs-pause button {
	background-position: left bottom;
}
.xy .mejs-controls .mejs-pause:hover button {
	background-position: right bottom;
}

/* rail */
.xy .mejs-controls .mejs-time-rail span {
	background: #3b3d3e;
}
.xy .mejs-controls .mejs-time-rail .mejs-time-total {
	padding: 0;
}
.xy .mejs-controls .mejs-time-rail .mejs-time-buffering {
	background:#000;
}
.xy .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #444;
	width: 0;
}
.xy .mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	background: #f65e5e;
	z-index: 1;
}

/* Time */
.xy .mejs-controls .mejs-time-rail .mejs-time-float {
	background: #fff!important;
	.box-shadow: none;
	.border: 1px solid rgba(0, 0, 0, .4);
}
.xy .mejs-controls .mejs-time-rail .mejs-time-float span {
	background: transparent;
}
.xy .mejs-controls .mejs-time-rail .mejs-time-float-corner {
	background: transparent;
	border: solid 4px rgba(0, 0, 0, .4);
	border-color: rgba(0, 0, 0, .4) transparent transparent transparent;
}

/* Mute */
.xy .mejs-controls .mejs-mute button {
	background: url(../images/mediaelement/mute.png) no-repeat left top;
	width: 15px;
	height: 14px;
}

.xy .mejs-controls .mejs-mute button:hover {
	background-position:right top;
}

.xy .mejs-controls .mejs-unmute button {
	background: url(../images/mediaelement/mute.png) no-repeat left bottom;
	width: 15px;
	height: 14px;
}
.xy .mejs-controls .mejs-unmute button:hover {
	background-position:right bottom;
}