/* -------------------------------------
Responsive Media Query
----------------------------------------
< 1040
------------------------------------- */


@media screen and (max-width: 1040px) {
	.content-wrapper { width: 780px; overflow: hidden; }
	#homepage .main-wrapper .arc {width: 760px !important}
	.header-inner { width: 760px; }
	.navigation ul.nav { display: none; }
	.navigation ul ul li span { display: block; }
	.navigation { background: #77818d; border-bottom: inherit;}
	.navigation select {  display: block; width: 100%; font-size: 16px; }
	.slide, .slidetoggle {display: none;}
		.toggle { padding: 0 10px; }
		.toggle li.widget { width: 226.67px; margin: 20px 10px; }
		.widget iframe { max-width: 100%; height: auto; }
	.sidebar { clear: both; width: 760px; display: none; }
	.sidebar-footer { width: 780px; }
		.sidebar-footer li.widget { width: 370px; }
	.credit { width: 760px; }
	#errorpage .main-wrapper { width: 780px; }
	.slide: { height: 50%; }
	.app-button {margin-top: 15px;}
	.main-wrapper {max-width: inherit; width: 100%}
	#homepage .main-wrapper .post {width: 760px !important}
}

/* < 780
------------------------------------- */
@media screen and (max-width: 780px) {
	.content-wrapper { width: 520px; }
	.main-wrapper { width: 520px; }
	#homepage .main-wrapper .arc, #homepage .main-wrapper .addcontent {width: 500px !important}
	.header-inner { width: 500px; }
	.navigation ul.nav { display: none; }
	.navigation ul ul li span { display: block; }
	.navigation { background: #77818d; border-bottom: inherit;}
	.navigation select {  display: block; width: 100%;font-size: 16px; }
	#homepage .main-wrapper .pfgallery {width: 240px;}
	#homepage .pfgallery h2 {font-size: 18px; line-height: 1.6em;}
	.slide, .slidetoggle {display: none;}
	.sidebar { width: 500px; display: none;}
	.sidebar-footer { width: 520px; }
		.sidebar-footer li.widget { width: 100%; }
	.credit { width: 500px; }
	#errorpage .main-wrapper { width: 500px; }
	#homepage .main-wrapper .post {width: 500px !important}
}

/* < 520
------------------------------------- */
@media screen and (max-width: 520px) {
	.content-wrapper {width: 260px;}
	.main-wrapper {width: 260px; margin-top: 10px;}
	.header-inner {width: 240px;}
	#homepage .main-wrapper .arc, #homepage .main-wrapper .addcontent {width: 240px !important}
	.searchbox {display: none}
	.slide, .slidetoggle {display: none;}
	.navigation select {width: 100%; border: none; padding: 12px 10px;font-size: 14px;}
	.navigation {border-bottom: inherit;}
	.flex-caption {display: none}
	.sidebar { width: 240px; display: none; }
	.sidebar-footer { width: 260px; }
		.sidebar-footer li.widget { width: 100%; }
	.credit { width: 240px; }
	.credit div { width: 220px; padding: 10px}
	.credit div.right {text-align: left;}
	#errorpage .main-wrapper { width: 260px; }
	.post blockquote {font-size: 14px; line-height: 1.6em; padding: 10px;}
	.post blockquote p {padding: 0; background-position: bottom right;}
	.post li.post-tag {display: none;}
	#commentform input {width: 180px;}
	#commentform textarea {width: 180px}
	.app-button {margin-top: -13px; width: 75%; margin-bottom:30px;}
	#homepage .main-wrapper .post {min-width: inherit; width: auto !important; margin-top: 10px;}
	.post-header2 li.entry-comment {display: none;}
	.post-header2 .post-date {border-top: 1px solid #eee; border-right:inherit;}
	.post .post-header2 {text-align: center;}
	.post-header2 li {float: inherit;}
}