body {
	background: #F5F5F5;
	text-align: center;
	padding: 0px;	
	margin: 0px;
	font-family: Arial, Verdana, sans-serif;
	font-size: small;
}
/*---General---*/
#total{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	background-color: White;
	font-family: Arial, Helvetica, sans-serif;
}
#header{
	width: 950px;
	height: 150px;
	background-image: url(../images/headerpic.png);
}
#topmenu{
	width: 950px;
	clear: both;
	font-family: Tahoma;
	font-size: small;
	vertical-align: middle;
	text-align: center;
	background: #F5F5F5;
	margin: 0px;
	padding: 1px;
}
#topline{
	width: 950px;
	height: 25px;
	text-align: left;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #F5F5F5;
	
}
#pathway{
	width: 80%;
	height: 100%;
	float: left;
	vertical-align: bottom;
	padding: 2px;
	background-image: url(../images/pathbar.png);
	background-repeat: repeat-x;
	overflow: hidden;
	font-size: small;
}
#search{
	width: 19%;
	height: 100%;
	float: left;
	vertical-align: middle;
	text-align: right;
	background-image: url(../images/pathbar.png);
	background-repeat: repeat-x;
	padding: 2px;
	font-weight: bold;
}
#main{
	width: 950px;
	clear: both;
	text-align: left;
	}
#leftcol{
	width: 20%;
	vertical-align: top;
	background-color: White;
	float: left;
	text-align: left;
	overflow: hidden;
	font-size: small;
}
#body{
	width: 60%;
	vertical-align: top;
	float: left;
	}
#body_full{
	width: 80%;
	vertical-align: top;
	float: left;
	}
#rightcol{
	width: 20%;
	vertical-align: top;
	float: left;
	background-color: White;
	font-size: small;
	text-align: left;
	overflow: hidden;
}
#info1{
	width: 50%;
	background-color: #F5F5F5;
	float: left;
	border-right: solid 1px;
	font-family: Tahoma;
	font-size: small;
	color: Black;
}
#info1_full{
	width: 99%;
	background-color: #F5F5F5;
	float: left;
	border-right: none;
	font-family: Tahoma;
	font-size: small;
	color: Black;
}
#info2{
	width: 49%;
	background-color:  #F5F5F5;
	float: left;
	font-family: Tahoma;
	font-size: small;
	color: Black;
	}
#corps{
	clear: both;
	width: 100%;	
	}

#footer{
	width: 950px;
	height: 30px;
	background-color: #ccccff;
	clear: both;
	font-size: x-small;
	color: Black;
}
/*---Footer---*/
#footer a:, #footer a:hover{
	width: 950px;
	height: 30px;
	background-color: #ccccff;
	clear: both;
	font-size: x-small;
	color: Black;
	text-decoration: none;
}

/*---Colone Gauche---*/
#leftcol h3{
	background-color: Black;
	color: White;
	border: none;
	margin-left: 20px;
	padding: 1px;
	margin-right: 20px;
	font-size: small;
	max-width: 196px;
	
}
#leftcol a:link{
	color: Black;
	font-size: x-small;
	text-decoration: none;
}
#leftcol a:visited{
	color: Black;
	font-size: x-small;
	text-decoration: none;
}
#leftcol a:hover{
	color: Black;
	font-size: x-small;
	text-decoration: underline;
}
/*---Menu de gauche---*/
#leftcol .moduletable_menu {
	max-width: 196px;
	background: url(../images/centre.png)right repeat-y;
	margin-left: -10px;
}
	/*---Boite pour les menus--*/
#leftcol .moduletable_menu::before {
	display: block;
	line-height: 0px;
	background: url(../images/topright.png)top right no-repeat;
	content: url(../images/topleft.png);
}
#leftcol .moduletable_menu::after {
	display: block;
	line-height: 0px;
	background: url(../images/bottomright.png) bottom right no-repeat;
	content: url(../images/bottomleft.png);
}
	/*---Fin des boite pour les menus---*/
#leftcol .moduletable_menu h3{
	background-color: Black;
	color: White;
	border: none;
	margin-top: -7px;
	margin-left: 20px;
	padding: 1px;
	margin-right: 20px;
	font-size: small;
	max-width: 196px;
	
}
#leftcol .moduletable_menu ul {
	list-style: none;
	padding: 0;
	border: none;
	max-width: 196px;
	margin-right: 20px;
}
#leftcol .moduletable_menu ul li {
	list-style: none;
	margin-left: 15px;
	margin-bottom: 5px;
	max-width: 196px;
	margin-right: 15px;
}
#leftcol .moduletable_menu ul li a {
	display: block;
	color: Black;
	text-decoration: 	none;
	width: 100%;
	margin-left: 15px;
	margin-bottom: 5px;
	max-width: 196px;
	margin-right: 15px;
}
#leftcol .moduletable_menu ul li li a {
	display: block;
	color: Black;
	margin-left: 25px;
	margin-bottom: 5px;
	max-width: 196px;
	margin-right: 25px;
}


#leftcol .moduletable_menu li a:hover {
	display: block;
	background-color: Blue;
	color: #ffffff;
	margin: 0;
	margin-left: 15px;
	margin-bottom: 5px;
	max-width: 196px;
	margin-right: 15px;
	
}
#leftcol .moduletable_menu ul li li a:hover {
	display: block;
	color: White;
	margin-left: 25px;
	margin-bottom: 5px;
	max-width: 196px;
	margin-right: 25px;
}
.bannergroup {		/*--Bannières à gauche--*/
text-align: center;
}
/*---Zones info---*/
#info1 h3, #info2 h3, #info1_full h3 {
	background-color: Black;
	color: White;
	border: none;
	margin: 0px 0px 0px 1px;
	padding: 1px;
	font-size: medium;
}
#info1 .moduletable ul, #info1_full .moduletable ul, #info2 .moduletable ul {
	margin: 0;
	padding: 0;
}
#info1 .moduletable ul li, #info1_full .moduletable ul li, #info2 .moduletable ul li{
	list-style: none;
	padding: 2px;
	color: Black;
	text-decoration: none;
	margin: 0;
	margin-left: 1px;
	margin-bottom: 5px;
	font-size: small;
	font-family: Tahoma;
}
#info1 .moduletable ul li a, #info1_full .moduletable ul li a, #info2 .moduletable ul li a{
	padding-left: 5px;
	color: Black;
	text-decoration: none;
	margin: 0;
	margin-bottom: 5px;
	font-size: small;
	font-family: Tahoma;
}
#info1 .moduletable ul li a:hover, #info1_full .moduletable ul li a:hover, #info2 .moduletable ul li a:hover{
	padding-left: 5px;
	color: Black;
	text-decoration: underline;
	margin: 0;
	margin-bottom: 5px;
	font-size: small;
	font-family: Tahoma;
}
/*---Colonne de droite---*/
#rightcol h3{
	background-color: #F5F5F5;
	color: Black;
	border: none;
	margin: 0px 0px 0px 0px;
	padding: 1px;
	font-size: small;
}
#rightcol .moduletable {
	margin-bottom: 15px;
	border: none;
}

#rightcol .moduletable ul {
	list-style: none;
	margin: 0;
	padding: 0px;
	border: none;
	margin-bottom: 10px;
}
#rightcol .moduletable ul li {
	list-style: none;
	margin: 0;
	border: none;
}
#rightcol .moduletable ul li a {
	color: Black;
	text-decoration: none;
	font-size: x-small;
	font-family: Tahoma;
	padding: 3px;
	margin: 0px;
	border: none;
	vertical-align: middle;
}

#rightcol .moduletable li a:hover {
	color: Blue;
	text-decoration: underline;
	font-size: x-small;
	font-family: Tahoma;
	padding: 3px;
	margin: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}
#rightcol table {
	margin-top: 15px;
	margin-bottom: -10px;
}
#rightcol .pollstableborder {            /*--look des polls--*/
	margin-top: 15px;
	margin-bottom: 10px;
}

/*---Top menu---*/
#topmenu .moduletable {
	margin: 0px;
	padding: 0px;
	background: #F5F5F5;
	vertical-align: middle;
}
#mainlevel-nav {
	padding: 4px;
	margin: 0px;
	background: #F5F5F5;
}
#topmenu  ul li{
	display: inline;
	background-image: url(../images/pathbar.png);
	background-repeat: repeat;
	border: solid 1px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	list-style: none;
	margin: 1px;
}

#topmenu .moduletable ul li a{
	color: Black;
	text-decoration: none;
	width: 100%;
	margin: 0;
	font-size: medium;
	font-weight: bolder;
}
#topmenu .moduletable li a:hover {
	color: White;
	text-decoration: underline;
	margin: 0;
	margin-bottom: 5px;
	font-size: medium;
	font-weight: bold;
}
/*---Corps---*/
table.contentpaneopen {	/* tableau dans lequel sont créés les postes */
	margin:0;
	padding:1px;
	clear: both;
	font-size: small;
	font-family: Tahoma;
}
div.componentheading {	/* Titre de la page */
	font-size: 16px;
	font-weight: bold;
	margin-top:10px;
	margin-bottom: 0px;
	}
td.contentheading {		/* Titre du post */
	font-size: 16px;
	background-color: Black;
	color: White;
	font-weight: bold;
	clear: both;
	padding:4px;
	margin-top: 40px;
}
td.contentheading a {		/* Titre du post */
	display: block;	
	font-size: 16px;
	background-color: Black;
	color: White;
	font-weight: bold;
	clear: both;
	text-decoration: none;
}
td.contentheading a:hover {		/* Titre du post */
	display: block;	
	font-size: 16px;
	background-color: Black;
	color: White;
	font-weight: bold;
	clear: both;	
	text-decoration: underline;
}
.buttonheading  img {						/* petit bouton pdf printer mail */
	border: none; 
	margin: 0;
	padding: 0;
}
span.small { 							/* Small text underneath post title, i.e. 'Written by...' */
	font-size: 10px;
	margin:	0;
	padding:	0;
}
td.createdate {				/* Date de création du post */
	font-size: 10px;
	text-align: left;
	color: #999999;
	padding-bottom: 15px;
}
td.modifydate { 					/* date de la dernière update sous l'article. */
	font-size: 10px;
	text-align: right;
	font-style: italic;	
}
a.readon { 							/* Le bouton lire la suite. */
	font-size: 12px;
	text-align:	left;
}
td.article_column {				/* bord droit de l'aricle. */
	padding-right: 10px;
}
p {
	margin-top: 0;			/* Taille du p. */
	margin-bottom: 10px;
}
/*---Login Form---*/
#form-login-remember {	/* Small 'remember me?' text in login form */
	font-size: 12px;
	padding-bottom: 5px;
}
#form-login {
	text-align: center;
}
#form-login-username, #form-login-password, #form-login-remember {
	text-align: left;
	font-size: 11px;	
	padding-left: 10px;
	margin:	0;
}
#form-login ul {
	text-align: left;
}
fieldset.input {
	border:	0;
}
#form-login, #form-login-remember {
	text-align: center;
}
.pagenavcounter, .pagenav {
	font-size: 10px;
}
.blog {
clear: both;
}
/*---Menu de gauche pour non Css3---*/
html* #leftcol h3{
	background-color: Black;
	color: White;
	border: none;
	margin: 10px 2px 0px 0px;
	padding: 1px;
	font-size: small;
}
html* #leftcol .moduletable_menu {
	background-color: #D9DBFF;
	margin-top: 10px;
}

html* #leftcol .moduletable_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right:10px;
}
html* #leftcol .moduletable_menu ul li {
	list-style: none;
	margin: 0;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right:10px;
}
html* #leftcol .moduletable_menu ul li a {
	display: block;
	color: Black;
	text-decoration: 	none;
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right:10px;
}
html* #leftcol .moduletable_menu ul li li a {
	display: block;
	color: Black;
	padding-left: 17px;
	background-color: #D9DBFF;
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
	margin-right:17px;
}


html* #leftcol .moduletable_menu li a:hover {
	display: block;
	background-color: Blue;
	color: #ffffff;
	margin: 0;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right:10px;
	
}
html* #leftcol .moduletable_menu ul li li a:hover {
	display: block;
	color: white;
	background-color: Blue;
	padding-left: 17px;
	background-color: #D9DBFF;
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
	margin-right:17px;
}