@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 300;
  src: local('Ek Mukta Light'), local('EkMukta-Light'), url(http://fonts.gstatic.com/s/ekmukta/v7/eZfvCT6XSiuTQmmC8YaT24bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 400;
  src: local('Ek Mukta'), local('EkMukta-Regular'), url(http://fonts.gstatic.com/s/ekmukta/v7/tf-BtnFgVmxry6UZcI_2LvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
