	.tw-style-a:hover,.mainlist-meta-cate>a,.blog-unit-tit a:hover,.count-box,.social-like .wpulike .counter a.image:before,.post-meta-social .count,.list-author-unit .socialmeida-a:hover,.height-light-ux,.post-categories a,.blog-unit-meta-top,.blog-unit-meta-top a,.widget_archive li, .widget_categories li, .widget_nav_menu li, .widget_pages li,
	.carousel-des-wrap-tit a:hover,.carousel-des-wrap-meta,.carousel-des-wrap-meta a,.mainlist-tit a:hover,.pagenums a:hover,#content_wrap .blog-unit-meta-bottom a:hover,#content_wrap .blog-unit-meta-bottom a:hover span,#content_wrap .social-bar:hover .social-bar-label,#navi .bi-list-item-meta-item a, #navi .ux-mega-cate-meta a,
	a:hover,.entry p a,.sidebar_widget a:hover,#footer a:hover,.archive-tit a:hover,.text_block a,.post_meta > li a:hover, #sidebar a:hover, #comments .comment-author a:hover,#comments .reply a:hover,.fourofour-wrap a,.archive-meta-unit a:hover,.post-meta-unit a:hover, .heighlight,.archive-meta-item a,.author-name,.archive-unit-h2 a:hover,
	.carousel-wrap a:hover,.blog-item-main h2 a:hover,.related-post-wrap h3:hover a,.ux-grid-tit-a:hover,.iconbox-a .iconbox-h3:hover,.iconbox-a:hover,.iocnbox:hover .icon_wrap i.fa,.blog-masony-item .item-link:hover:before,.clients_wrap .carousel-btn .carousel-btn-a:hover:before,
	.blog_meta a:hover,.breadcrumbs a:hover,.link-wrap a:hover,.archive-wrap h3 a:hover,.more-link:hover,.post-color-default,.latest-posts-tags a:hover,.pagenums .current,.page-numbers.current,.fullwidth-text-white .fullwrap-with-tab-nav-a:hover,.fullwrap-with-tab-nav-a:hover,.fullwrap-with-tab-nav-a.full-nav-actived,.fullwidth-text-white .fullwrap-with-tab-nav-a.full-nav-actived
	{ 
		color:#6DC9E3; 
	}
	 
    .team-item-con-back,.post-score,.tagcloud a:hover,.related-post-wrap h3:before, #back-top:hover:before, #back-top:hover:after,.single-image-mask,input.idi_send:hover,.ux-hover-icon-wrap,.iconbox-content-hide .icon_text,.process-bar,.nav-tabs > li > a:hover,.portfolio-caroufredsel-hover
	{ 
		background-color:#6DC9E3;
	}

	
	.post-meta-social-li .share:before,.post_social:before, .post_social:after,.break-line,.tagcloud a,.gallery-list-contiune,#respondwrap,.blog-unit-link,.blog-unit-quote,.sidebar_widget > li.widget-container,#archive-title,body:not(.ux-mobile) #navi .sub-menu,.mainlist-img-wrap,body.single .list-author-unit,.rating-detailed,
	.slider-panel,#main_title_wrap,.nav-tabs > li,.promote-wrap,.process-bar-wrap,.post_meta,.pagenumber a,.countdown_section,.standard-blog-link-wrap,.blog-item.quote,.portfolio-standatd-tit-wrap:before,.quote-wrap,.entry pre,.text_block pre,.isotope-item.quote .blog-masony-item,.blog-masony-item .item-link-wrap,
	.pagenumber span,.testimenials,.testimenials .arrow-bg,.accordion-heading,.testimonial-thum-bg,.single-feild,.fullwidth-text-white .iconbox-content-hide .icon_wrap
	{ 
		background-color: #F9F9F9; 
	}
	.progress_bars_with_image_content .bar .bar_noactive.grey
	{
	  color: #F9F9F9; 
	}
	.border-style2,.border-style3,.nav-tabs > li > a,.tab-content,.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus,.tabs-v,.single-feild,.archive-unit,.widget_footer,.list-author-unit,li.commlist-unit { 
		border-color: #F9F9F9; 
	}
	
	.nav.nav-tabs, .tabs-v .nav-tabs > li:last-child.active>a,.sidebar_widget .widget-title {
		border-bottom-color: #F9F9F9; 
	}
	.tab-content.tab-content-v,blockquote {
		border-left-color: #F9F9F9; 
	}
	.blog-unit,.search-result-unit, .tabs-v .nav-tabs > .active > a {
		border-top-color: #F9F9F9; 
	}
	
	
	.logo-h1  { 
		color:#313139 
	}
	
	
	#footer .logo-h1  { 
		color:#313139 
	}
	

	#navi a, #navi .current-menu-item.anchor-in-current-page>a,.search-top-btn-class, .head-meta .languages-shortname 
	{ 
		color: #28282E; 
	}
	
	body:not(.ux-mobile) #navi>div>ul>li.current-menu-item>a:before, .navi-trigger-inn,.navi-trigger-inn:before,.navi-trigger-inn:after 
	{
		background-color: #28282E; 
	}


	#navi a:hover,.head-meta .wpml-translation a:hover .languages-shortname,.search-top-btn-class:hover 
	{ 
		color: #28282E; 
	}


	#navi .current-menu-item > a,#navi .current-menu-item.anchor-in-current-page.current>a, #navi>div>ul li.current-menu-parent>a,#navi>div>ul>li.current-menu-ancestor>a,#navi .sub-menu li.current-menu-item>a,.head-meta .current-language .languages-shortname
	{ 
		color:#28282E; 
	}
	.menu-item-has-children>a:hover:before,#navi .current-menu-item.menu-item-has-children > a:before,#navi>div>ul li.current-menu-parent.menu-item-has-children>a:before,#navi>div>ul>li.current-menu-ancestor.menu-item-has-children>a:before,#navi .sub-menu li.current-menu-item.menu-item-has-children>a:before 
	{
		background-color: #28282E;
	}
	

	.carousel-des-wrap:after 
	{
		background-color: #F0F0F0; 
	}
	#archive-title, #post-navi>.row-fluid,.mainlist-meta,.topslider,.blog-list > article,
	.widget_archive li,.widget_categories li,.widget_pages li,.widget_nav_menu li,.widget_recent_entries li,.widget_recent_comments li 
	{
		border-color: #F0F0F0; 
	}
	
	body.ux-bordered,.bordered-bottom,.bordered-top 
	{
		background-color: #313139; 
	}
	
	
	.blog-unit-tit a,.main-title,.site-loading-logo .logo-h1,.audio_player_list,#comments .comment-author a,h1,h2,h3,h4,h5,h6,.archive-tit a,.blog-item-main h2 a,.item-title-a,#sidebar .social_active i:hover,.countdown_amount,.ux-grid-tit-a,.filters.filters-nobg li a:hover,.filters.filters-nobg li.active a,
	.portfolio-standatd-tit-a,.portfolio-standatd-tags a[rel*="tag"],.archive-unit-h2,.archive-date,.carousel-des-wrap-tit a,.feature-item-tit-a,.mainlist-tit a,.tw-style-a,.pagenums a,.post-navi-unit-tit-a,
	.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus,.accordion-heading .accordion-toggle,.post-navi-a,.moudle .ux-btn,.pagenums .tw-style-a,.pagenums .tw-style-a:hover,
	.jqbar.vertical span,.team-item-con-back a,.team-item-con-back i,.team-item-con-h p,.slider-panel-item h2.slider-title a,.bignumber-item.post-color-default,.blog-item .date-block,.clients_wrap .carousel-btn .carousel-btn-a,.gallery-info-property-item,
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], 
	select,input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], 
	input[type="color"], .uneditable-input,button, input[type="submit"],input[type="email"]::-webkit-input-placeholder
	{ 
		color:#000000; 
	}
	
	.gallery-wrap-fullwidth .gallery-info-property,.accordion-heading,.title-ux.line_under_over,.gallery-info-property, .gallery-wrap-sidebar .entry, .social-share,.pagenums .tw-style-a,
	textarea,select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input,button, input[type="submit"] 
	{ 
		border-color: #000000; 
	}
	
	h1.main-title:before,.team-item-con, .title-ux.line_both_sides:before,.title-ux.line_both_sides:after,.galleria-info,#float-bar-triggler,.float-bar-inn,.short_line:after,.dropcap,.accordion-style-b .accordion-heading a:before,.accordion-style-b .accordion-heading a:after,.separator_inn.bg-,
	#commentform > p.form-submit:before, #commentform > p.form-submit:after, .btnarea:before, .btnarea:after,.submit-wrap:before,.submit-wrap:after,.ux-btn:before,.ux-btn:after,.pagenums .tw-style-a:before,.pagenums .tw-style-a:after
	{
	  background-color: #000000;
	}

	.ux-mobile #navi,.gallery-info-property-con,.text_block,body,a,.entry p a:hover,.text_block a:hover,#content_wrap,#comments,.blog-item-excerpt,.archive-unit-excerpt,.archive-meta-item a:hover,.entry code,.text_block code,#header-main .socialmeida-a:hover,
	h3#reply-title small, #comments .nav-tabs li.active h3#reply-title .logged,#comments .nav-tabs li a:hover h3 .logged,.testimonial-thum-bg i.fa,.header-info-mobile,.carousel-wrap a.disabled:hover 
	{ 
	  color: #313139; 
	}
	.filters.filters-nobg li a:before,.blog-item-more-a:hover, 
	.topslider.container .owl-prev:before,.topslider.container .owl-next:before,
	.topslider.container .owl-prev:after,.topslider.container .owl-next:after,
	.related-posts-carousel .owl-prev:before,.related-posts-carousel .owl-next:before,
	.related-posts-carousel .owl-prev:after,.related-posts-carousel .owl-next:after,
	#back-top:before,#back-top:after 
	{
		background-color: #313139; 
	}
	.blog-item-more-a:hover 
	{
		border-color: #313139; 
	}
	
	.related-posts-date,.list-author-unit .socialmeida-a,.blog-unit-meta, .blog-unit-meta a,.gallery-list-contiune,.socialmeida-label,#navi .ux-mega-cate-meta a:hover,#navi .bi-list-item-meta-item a:hover,.ux-mega-cate-meta,#header-main .socialmeida-a,.mainlist-meta-date,.mainlist-meta-cate,.shortcode-half-img-caption-inn,
	.post_meta>li,.post_meta>li a,.post-meta, .post-meta a,.archive-meta-unit,.archive-meta-unit a,.latest-posts-tags a,.latest-posts-date,#comments .comment-meta .comment-reply-link,#comments .comment-meta .date,.tptn_author,.tptn_date,.tptn_excerpt,.tptn_list_count,.sidebar_widget .tptn_author a,
	#mobile-header-meta p,.infrographic-subtit,.blog_meta,.blog_meta a,.blog-item-excerpt .wp-caption-text,#content_wrap .blog-unit-meta-bottom span,#content_wrap .blog-unit-meta-bottom a
	{ 
	  color:#747475; 
	}
	.shortcode-half-img-caption-inn {
		border-color:#747475; 
	}
	

    ::selection { background: #A1E3F5; }
	::-moz-selection { background: #A1E3F5; }
	::-webkit-selection { background: #A1E3F5; }

	
	body,#wrap-outer,#header-main,.separator h4, .page-loading,#search-overlay, .ux-mobile .header-right,#back-top,
	.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus,.tab-content,.filters.filter-floating li a:before,.standard-list-item:hover .portfolio-standatd-tit-wrap:before 
	{ 
	  background-color: #FFFFFF;
	}
	.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus 
	{ 
		border-bottom-color: #FFFFFF; 
	}
	.tabs-v .nav-tabs > .active > a
	{ 
	  border-right-color: #FFFFFF; 
	}
	.quote-wrap, .mouse-icon,.dropcap 
	{
	  color: #FFFFFF; 
	}
	
	
	
	.sidebar_widget h3.widget-title,.sidebar_widget h3.widget-title a 
	{ 
	  color: #000000;
	}
	
	
	.sidebar_widget,.sidebar_widget a 
	{ 
	  color: #313139; 
	}

	
	#footer,#footer a, .copyright, .copyright a  
	{ 
	  color: #808085; 
	}
	
	
	.widget_footer_unit 
	{ 
	  color: #313139; 
	}

	
	.widget_footer_unit .widget-title 
	{ 
	  color: #28282E; 
	}

	
	.widget_footer 
	{ 
	  background-color: #F9F9F9; 
	}

    h1,h2,h3,h4,h5,h6,#content_wrap .infrographic p,#content_wrap .promote-mod p,.comment-author-a,
    #navi .ux-mega-cate-tit-a,.widget_archive li>a,.widget_categories li>a,.widget_pages li>a,.widget_nav_menu li>a,.widget_recent_entries li>a,.widget_recent_comments li>a,.tptn_title,
    textarea, select,input[type="submit"],button,input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], 
	input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], 
	input[type="color"], .uneditable-input,.tw-style-a 
	{ 
	    font-weight: normal; font-style: normal;	}
    body.single .blog-unit-tit,.related-posts-tit-a { font-size: 42px;}
    body.single .blog-unit-tit,.related-posts-tit-a { font-weight: normal; font-style: normal;}
    .logo-h1 { font-size: 46px;}
    #navi a, .socialmeida-label,.ux-mega-cate-meta { font-size: 12px;}
    .copyright { font-size: 12px;}
    body, button, div.bbp-template-notice p,legend,.gallery-info-property-con,.text_block { font-size: 18px;}
    .gallery-info-property,.blog-unit-meta-bottom,.mainlist-meta,.tptn_date, .tptn_excerpt, .tptn_list_count, .tptn_author,.shortcode-half-img-caption-inn { font-size: 14px;}
    .widget-container .widget-title{ font-size: 20px; }
    .widget-container { font-size: 15px;}
    .mainlist-tit { font-size: 24px;}
    .mainlist-excerpt.ux-ellipsis { font-size: 14px;}
    .blog-unit-tit { font-size: 30px;}
