
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

    .container_12 .grid_12.forground-content {
        width: 64%
    }

}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

@media only screen and (max-width:1140px) {
    .others{
        background-image: none;
    }
    .others:hover img{
        -webkit-opacity: inherit;
        -moz-opacity: inherit;
        -ms-opacity: inherit;
        -o-opacity: inherit;
        opacity: inherit;
    }
    .grid_3r h2 a, .grid_3r h2 a:hover{
        padding-top:42%;
    }
}
@media only screen and (max-width:1024px) {

/* Footer */
    .footer .number{
        font-size:2.1em;
        font-weight: normal
    }
    footer .title{
        font-size:12.5px;
    }
    .footer .info, .facts a, #question a, #send_intel a{
        font-size: 10px;
    }
    .footer .menu-footer .grid_6{
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
/* Header */
    .nav{
        font-size: 0.72em;
    }
    .services_menu li + li a{
        padding-left:10px;
        background-image: none;
    }
    .services_menu li a{
        padding-right: 0;
        font-size: 14px;
    }
    .royalSlider.default .arrow{
        display:none;
    }
    /* Home */
    #services_selectors h2.orange_title{
        height:56px;
        line-height: 0.9 ;
        margin-bottom:0 !important;
    }
    #blog_widget{
        margin-left: 24%;
        width: 48%;    
    }
    #fb_widget{
        display: none;
    }
    .grid_3r h2 a, .grid_3r h2 a:hover{
        padding-top:36%;
        font-size:13px;
    }
    /* realisations */

    .type-realisations blockquote{
        font-size: 18px;
    }
    .big-img-realisation {
        height: 400px;
    }

    .single-realisations h1 {
        padding-top: 230px;
    }
    .col-md-4 .grid_3 {
        min-width: 48%;
    }

    /***** #Page e-commerce *****/
    #ecommerce-solutions .container_12 > div {
        width: 100%;
        left: 0;
    }
    #secured_solutions .image-block img {
        width: 50%;
    }
}
@media only screen and (max-width:910px) {
            .nav{
                font-size: 0.58em;
                }
                
            /* Slider */
            .royalCaption a{
                font-size:16px;
            }
            .royalCaption h2{
                font-size: 44px;
                line-height:38px;
            }
            .sub_acc{
                font-size: 24px;
                margin-bottom:10px;
            }
            .web_agency_advantages h3 {
                background-image: none;
                padding-top: 0
            }

            /* Agency */
            .know_how.grid_2{
                width: 31.333%;
                height: 189px
            }
            /* Form */
            #wpcf7-f302-p69-o1 .grid_6, textarea{
            width:98% !important;
            }
            /* Réalisations */
        .grid_3r h2 a, .grid_3r h2 a:hover{
            padding-top:34%;
            font-size:12px
        }
}
@media only screen and (max-width:860px) {
.grid_3r.type-realisations{
    left: 16%
}
.post-type-archive-realisations section article:nth-child(10), .post-type-archive-realisations section article:nth-child(17){
    clear: none;
}
.post-type-archive-realisations section article:nth-child(8), .post-type-archive-realisations section article:nth-child(13){
    clear: both
}
}
@media only screen and (max-width:838px) {
        .grid_3r .grid_3 + .grid_3{
            display:none;
        }

@media only screen and (max-width:768px) { /* tablet version */
            #front_screen h1{
                font-size: 60px;
            }
            .table{
                padding-top: 27px;
            }
            #undefined-sticky-wrapper{
                display: none ;
             }
            #front_screen .image{
                width: 98%;
                left:0;
            }
            #front_screen .punchline{
                 margin-top: 85px;
            }
            #front_screen .button{
                margin-bottom: 51px !important;
            }
            body, .page-id-17 .container_12{
                font-size:16px;
            }
            .page_subtitle strong, .page_subtitle{
                font-size: 28px;
            }
            .page_title h1, .grid_8.push_2 h1{
                font-size: 57px;
            }
            .agence .grid_4.push_2 {
                left: 0;
            }
            .header_wrapper {
                display: none; /* using Menufication menu */
            }
            .container_12 .grid_6, #post-116 .grid_8, .container_12 .grid_5 {
                width:98.0%;
            }
            .container_12 .fullwidth_mobile, .page-id-120 .wrapper .grid_9 {
                width:98.0%;
            }
            .project_steps {
                display: none;  
                width: 100%;
            }
            .contact_form_prompt.grid_8, .grid_5.push_1 {
                width:98.0%;
                left: 0;
            }
            .related_content, #post-116 .grid_6 img {
                display: none;
            }


            #refonte_img, #money_falling, #box_logos, #seo_chart {
                display: none;
            }
            #contact_text, #contact_cf, .type-realisations .grid_3.push_1 {
                width:98.0%;
                left: 0;        
            }

            .container_12 .eshop_features {
                width: 98%;
            }
            .desktop_only {
                display: none;
            }
            .separation{
                margin:20px 0;
            }
            /*** footer ***/
            .facts, #question, #company_info{
                border-right: 0;
            }
            .icons_links_footer.grid_6{
                width: 48%;
            }
            .footer .number{
                background-image: none;
            }
            .footer_nav li{
                font-size:13px;
            }
            #menu-footer-menu li a{
                padding-right:8px;
                border-right: 0;
            }
            #menu-footer-menu li{
                margin:0 5px;
            }
            footer .title{
                height:13.5px;
            }
            .credits{
                text-align: center;
            }
            #text-6, .page-id-93 .sep_two_lines{
                display:none;
            }
            /*** Header ***/
            .services_menu li{
                font-size: 13px;
            }
            .services_menu ul{
                background-image: none;
            }
            /* Slider */
            .royalCaption a p{
                font-size: 14px;
                line-height: 1.2;
            }
            .royalCaption a.click_e2{
                background-image: none;
                padding-left:0px;
            }
            .royalSlide .royalCaption .wrapper.container_12{
                width: 92%
            }
            /* Home */
            #services_home p {
                font-size: 16px;
                line-height: 1.3;
                margin-top: 0;
            }
            #services_home h2 {
                margin-bottom:20px;
            }
            #services_selectors h2.orange_title{
                font-size:21px !important;
                margin-bottom:0 !important;
                height:40.5px;
            }
            #services_selectors span{
                font-size:15px;
            }
            #more_info_home_blocks .grid_4{
                width:48%;
            }
            #more_info_home_blocks #meet_us{
                width: 98%;
                text-align: center;
            }
            .page_title h1, .grid_8.push_2 h1{
                text-shadow:none;
            }
            input[type="submit"], a.button{
                font-size:14px;
            }
             .home .type-page h2{
                margin-top:0 !important;
            }
             #follow_us p{
                line-height: 1.1;
                font-size: 13px
            }
             .home .type-page h2{
                font-size:1.25em !important;
            }
                #blog_widget{
                    width: 96%;
                    margin-left:1%;
            }
            .know_how.grid_2 {
                height: 20px;
                text-align: center;
            }
            .know_how.grid_2 h3{
                margin: 0 10px
            }
            .know_how.grid_2 p{
                display: none;
            }
            .logos.grid_3 img {
                padding: 0 10px;
            }
            .contact_link{
                    background-position: 0 -391px;
                    font-size:33px;
            }
            .contact_link:hover{
                    background-position: 0 -545px;
            }
            /*Services*/
            .grid_4.others{
                text-align: center;
            }

            /*.grid_4.eshop_features, */.container_12 .grid_4{
                width: 64.667%;
                margin-left: 18.33%;
                text-align: center;
            }
            .home .container_12 .grid_4{
                margin-left:1%;
                text-align: inherit;
                width: 31.333%
            }
            .grid_4.eshop_features p{
                text-align: center;
            }
            .page-id-120 .grid_10 img, #contact_text, .nav_portfolio{
                display:none;
            }
            .post-type-archive-realisations .realisations .grid_3, .post-type-archive-realisations .realisations .grid_9{
                width:98%;
                height: auto;
            }
            .post-type-archive-realisations .see_more{
                position: relative;
            }
            .type-realisations .grid_3.push_1, .type-realisations .grid_9, .single-realisations .grid_9 > h2{
                width: 98%;
            }
            .type-realisations .grid_9 .grid_4{
                text-align: left;
                margin-left:0;
            }
            .work_done li{
                height: auto;
            }
            .single-realisations .grid_9 blockquote + h2, .single-realisations .grid_9 > p{
                width: 98%
            }
            .type-realisations .grid_3.push_1{
                border-top: 1px solid #D8D7D1;
                padding-top:30px;
            }

            /***** App mobile *****/
            .page-id-1755 .full-width .image-block {
                position: relative;
                clear: left;
                width: 100%;
            }
            .page-id-1755 .full-width .container_12 {
                margin: 0;
                width: 100%;
            }
            .page-id-1755 .container_12 .text-block.grid_6 {
                width: 48%;
            }
            .page-id-1755 .container_12 > .text-block.grid_6 {
                width: 100%;
                padding: 0 20px;
            }
            .page-id-1755 .text-block.push_6 { /* cancel push_6 */
                left: 0;
            }
            .col-md-4 .grid_3 {
                min-width: 100%;
            }
            .page-id-1755 .full-width {
                margin: 0;
            }
            #mobile_app .thin-title {
                margin: 0;
            }
            .page_title h1 {
                font-size: 1em;
            }
            .full-width .text-block {
                margin: 10% auto;
            }

            /***** #Page Creation-refonte *****/
            #steps_nav li {
                font-size: 12px;
            }
            #notebook_graphic {
                display: none;
            }
            #technologies-info {
                margin-top: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            #technologies-grid {
                height: auto;
                margin-bottom: 4%;
                position: relative;
                padding-left: 5%;
                padding-right: 5%;
            }
            #technologies-grid h3 {
                font-size: 10px;
            }

            /***** #Page e-commerce *****/
            #ecommerce-solutions .thin-title {
                font-size: 1.6em !important;
            }
            .logos-cms .grid_4 {
                width: 33.33%;
                margin-left: 0;
                margin-right: 0;
            }
            #eshop_content .grid_4 {
                text-align: left;
            }
            #secured-payment {
                width: 30%;
            }
            #secured_solutions,
            #ecommerce-solutions {
                margin: 0;
                margin-bottom: 20px;
            }
            #secured_solutions .container_12 {
                width: 100%;
            }
            #secured_solutions .text-block {
                width: 100%;
                padding: 0 5%;
            }
            #secured_solutions .image-block {
                position: relative;
                height: 100px;
                margin: 0;
            }
            #secured_solutions .image-block img {
                width: 80%;
                margin-left: 10%;
            }

            /***** Page Design *****/
            #design-bg {
                margin-bottom: 30px;
            }
            #design-bg .container_12 {
                margin-top: 21px;
            }
            #design-bg .bg-image {
                min-height: 300px;
                height: auto;
            }
            #design_services {
                width: 100%;
            }
            #design_services > div {
                padding: 0;
            }
            #design_services .grid_4 {
                width: 100%;
                height: auto;
                background: none;
                text-align: left;
                padding-left: 15px;
                margin-left: 1%
            }
            #design_services .grid_4 h2 {
                color: #1caabc;
            }
            #design_services .grid_8 {
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
                margin-bottom: 30px;
            }

            /***** Page développement spécifique *****/

            .screens {
                display: none;
            }

            .gears {
                display: none;
            }

            #methodologie {
                margin-top: 0;
            }

            .specific-technologies img {
                width: 90px;
            }

            /***** Site mobile *****/
            #sitemobile_full-width > div {
                max-width: 100%;
            }
            #sitemobile_full-width .image-block {
                display: none;
            }
            #sitemobile_full-width .push_3 {
                left: 0;
            }
            #sitemobile_full-width .text-block {
                width: 100%;
                max-width: 100%;
                padding-left: 12%;
                padding-right: 12%;
            }
}

@media only screen and (max-width:560px){
    #services_selectors, #portfolio_nav{
        display:none;
    }
    .grid_4.others{
        width: 64.667%;
        margin-left: 18.33%
    }

}
@media only screen and (max-width:480px) { /* phone version */
    #undefined-sticky-wrapper{
        display: none ;
    }
    .table{
        padding-top: 27px;
    }
    #post-116 .grid_6 img{
        display:block;
    }
	#services_selectors li.grid_3 {
			width:98.0%;
	}

	#open_source.grid_4, #why_choose_us.grid_4, #meet_us.grid_4, #testimonials {
		display: none;
	}
	#footer_title, .facts {
		display: none;
	}
	#money_falling, #painting { /* sur toutes les templates gauche-droite droite-gauche pr éviter 2 imagees à la suite */
		display: none;
	}
	.web_agency_advantages.grid_4 {
		width:98.0%;
	}

	.logos.grid_3 {
		width:31.333%;
	}
	.others.grid_4 {
		width: 98.0%;
	}
	#eshop_icons, #prestashop_bag {
		display: none;
	}
	.wrapper .grid_8 {
		width:98.0%;
		left: 0;		
	}
	.page_title.grid_10 {
		width: 98.0%;
		left: 0;
	}
	h1 {
		font-size: 1em;
	}
    .contact_link{
        padding-left: 0;
        background-image:none;
    }
    .type-realisations h1 {
        font-size: 27px;
    }
    /* Footer */
    .footer #fact4 + .separation.sep_footer {
        display:none;
    }
    #question{
        margin-top:30px;
    }
    .know_how.grid_2{
        width: 48%
    }

    /* Sidebar */
    .sidebar{
        display:none;
    }
    /* Slider */
    .slide1, .slide2, .slide3, .slide4{
        background-image: none;
    }
    .container_12 .grid_7{
        width:98%;
    }
    /*Home*/
    #home_web_agency{
        width: 98%
    }
    .page h2, #home_web_agency h1{
    margin-bottom:20px;
    }
    #sep_home2{
        margin-top:0;
    }
    .testimonials img{
        float:none;
        margin-bottom:10px;
    }
    .testimonials .grid_9{
        width: 92%;
        text-align: center;
    }
    /* Agency */
    .web_agency_advantages{
        text-align:center;
    }
    /*service*/
    .grid_4.others{
        margin-left: 1%
    }
    /*.grid_4.eshop_features, */.container_12 .grid_4{
        width: 98%;
        margin-left:1%;
    }
    .type-realisations blockquote{
        font-size:14px;
        line-height: 1.3;
    }
    .big-img-realisation {
            height: 200px;
    }
    .single-realisations h1 {
            padding-top: 85px;
            line-height: 1.2;
    }
    .single-realisations h1 span {
            font-size: 22px;
    }
    .nav-tabs li {
        font-size: 10px;
    }

    /***** #Page Creation-refonte *****/
    #technologies-grid h3 {
        font-size: 12px;
    }
    #technologies-grid .grid_3,
    #technologies-grid .grid_2{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;  
    }
    #logo_bnp, #inbound_logos {
        display: none;
    }
    #steps_nav {
        font-size: 12px;
        word-wrap: break-word;
    }
    #steps_nav li {
        height: 80px;
        padding: 25px 5px 0; 
    }

    /***** #Page e-commerce *****/
    #ecommerce-solutions {
        height: 780px;
    }
    .features {
        text-align: left;
        position: relative;
        padding-left: 15%;
    }
    #secured-payment {
        width: 20%;
    }
    #ecommerce-solutions .thin-title {
        font-size: 1.2em !important;
    }

    /***** Page site mobile *****/
    #sitemobile_full-width .text-block {
        padding-left: 5%;
        padding-right: 5%;
    }
    #whats_mobilesite {
        width: 100%;
    }
     #whats_mobilesite .grid_10 {
         width: 92%;
         left: 4%;
     }
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/


@font-face {
    font-family: "bodoni_poster_ssiregular";
    font-style: normal;
    font-weight: normal;
    src: url("../../font/bodoni_poster_ssi-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/bodoni_poster_ssi-webfont.woff") format("woff"), url("../../font/bodoni_poster_ssi-webfont.ttf") format("truetype"), url("../../font/bodoni_poster_ssi-webfont.svg#bodoni_poster_ssiregular") format("svg");
}

@font-face {
    font-family: "futura_ltregular";
    font-style: normal;
    font-weight: normal;
    src: url("../../font/futuralt-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/futuralt-webfont.woff") format("woff"), url("../../font/futuralt-webfont.ttf") format("truetype"), url("../../font/futuralt-webfont.svg#futura_ltregular") format("svg");
}