
div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
    background-color: #FFFFFF;
    border: 5px solid #DEDEDE;
    float: left;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
}

.page-id-93 .left div.wpcf7-mail-sent-ok, .page-id-93 div.wpcf7-mail-sent-ng, .page-id-93 div.wpcf7-spam-blocked, .page-id-93 div.wpcf7-validation-errors, .page-id-120 .left div.wpcf7-mail-sent-ok, .page-id-120 div.wpcf7-mail-sent-ng, .page-id-120 div.wpcf7-spam-blocked, .page-id-120 div.wpcf7-validation-errors, .page-id-105 .left div.wpcf7-mail-sent-ok, .page-id-105 div.wpcf7-mail-sent-ng, .page-id-105 div.wpcf7-spam-blocked, .page-id-105 div.wpcf7-validation-errors{

}
.left div.wpcf7-mail-sent-ok {
    float: right;
    font-size: 13px;
    position: relative;
    color: #31AD70;
right: 100px;
    top: -58px;
    width: 307px;
}

div.wpcf7-mail-sent-ng {
	color:#E84A4F;
	float: right;
    font-size: 13px;
    position: relative;
right: 100px;
    top: -58px;
    width: 307px;
}

div.wpcf7-spam-blocked {
	color: #FBC700;
	float: right;
    font-size: 13px;
    position: relative;
right: 100px;
    top: -58px;
    width: 307px;
}

div.wpcf7-validation-errors {
	color: #EB4A4f;
	float: right;
    font-size: 13px;
right: 100px;
    top: -50px;
}
.page-id-69 div.wpcf7-validation-errors{
	
	right: -24px !important;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip, #eModal-Container .wpcf7-not-valid-tip {
	position: absolute;
	top: 0%;
	left: 6px;
	z-index: 100;
	color: #EB4A4f;
	font-size: 10pt;
	width: 184px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}
.cf2{
font-family: futura, inherit;
margin-bottom:12px;	
}
.cf2 span.wpcf7-list-item {
    display: block;
    float: left;
	margin-left:0;
	font-size:14px;
	font-family:'proxima_nova_rgregular' !important;
    width: 240px !important;
}
.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 .watermark {
	color: #888;
}
/*.wpcf7-file{
border:1px solid #E0E0DF;
background-color: #E0E0DF;	
}*/